Q1. What is Statistics?

ANS:-statistic is the process of collecting ,organising the data and by this data we perform some operation on that data and takeout some relevant info from it.

Q2. Define the different types of statistics and give an example of when each type might be used.

ANS:-Different types of statistics :- Descriptive and inferential.

Q3.  What are the different types of data and how do they differ from each other? Provide an example of 
each type of data.

ANS:-The different types of data are :-
(i) Ordinal data. EX:-2nd,3rd,4th....(Ranks).

(ii) Nominal Data. EX:-male,female.

(iii) Continue Data. EX:-1.1,2.3,4.5,etc.

(iv) Discreate Data. EX:-1,2,3,,etc.

Q4 Categorise the following  datasets with respect to quantitative and qualitative data types:

(i)	Grading in exam: A+, A, B+, B, C+, C, D, E

(ii)	Colour of mangoes: yellow, green, orange, red

(iii)	Height data of a class: [178.9, 179, 179.5, 176, 177.2, 178.3, 175.8,...]

(iv)	Number of mangoes exported by a farm: [500, 600, 478, 672, â€¦]


ANS:- (i)Ordinal data
(ii) Nominal Data
(iii) Continue Data
(iv) Discreate Data

Q5. Explain the concept of levels of measurement and give an example of a variable for each level.

ANS:-The concept of levels of measurement are:-
 Nominal, Ordinal, Interval and Ratio.

Q6. Why is it important to understand the level of measurement when analyzing data? Provide an 
example to illustrate your answer.

ANS:-it is important to understand the level of measurement because we can find the relation only when we have knowledge of type and level of data.

Q7. How nominal data type is different from ordinal data type.

ANS:-nominal data is the data in which it cannot comparable.

ordinal data is the data which can be compared like on the basis of rank.

Q8. Which type of plot can be used to display data in terms of range?

ANS: barplot

Q9. Describe the difference between descriptive and inferential statistics. Give an example of each 
type of statistics and explain how they are used.

ANS:-Descriptive Statistics describes the characteristics of a data set. It is a simple technique to describe, show and summarize data in a meaningful way. 

In Inferential Statistics, the focus is on making predictions about a large group of data based on a representative sample of the population.

Q10. What are some common measures of central tendency and variability used in statistics? Explain 
how each measure can be used to describe a dataset.

ANS:-

In [2]:
import seaborn as sns 
a=sns.load_dataset('tips')

In [3]:
a.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
a.mean()

/tmp/ipykernel_1712/1798845826.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  a.mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [5]:
a.median()

/tmp/ipykernel_1712/3240354540.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  a.median()

total_bill    17.795
tip            2.900
size           2.000
dtype: float64

In [6]:
a.var()

/tmp/ipykernel_1712/2708643677.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  a.var()

total_bill    79.252939
tip            1.914455
size           0.904591
dtype: float64

In [7]:
a.std()

/tmp/ipykernel_1712/2800935211.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  a.std()

total_bill    8.902412
tip           1.383638
size          0.951100
dtype: float64

In [8]:
a.corr()

/tmp/ipykernel_1712/2489384948.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  a.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [9]:
a.cov()

/tmp/ipykernel_1712/2835787821.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  a.cov()

            total_bill       tip      size
total_bill   79.252939  8.323502  5.065983
tip           8.323502  1.914455  0.643906
size          5.065983  0.643906  0.904591