Q1. You are work#ng on a mach#ne learn#ng project where you have a dataset conta#n#ng numer#cal and
categor#cal features. You have #dent#f#ed that some of the features are h#ghly correlated and there are
m#ss#ng values #n some of the columns. You want to bu#ld a p#pel#ne that automates the feature
eng#neer#ng process and handles the m#ss#ng valuesD
Des#gn a p#pel#ne that #ncludes the follow#ng steps"
Use an automated feature select#on method to #dent#fy the #mportant features #n the datasetC
Create a numer#cal p#pel#ne that #ncludes the follow#ng steps"
Impute the m#ss#ng values #n the numer#cal columns us#ng the mean of the column valuesC
Scale the numer#cal columns us#ng standard#sat#onC
Create a categor#cal p#pel#ne that #ncludes the follow#ng steps"
Impute the m#ss#ng values #n the categor#cal columns us#ng the most frequent value of the columnC
One-hot encode the categor#cal columnsC
Comb#ne the numer#cal and categor#cal p#pel#nes us#ng a ColumnTransformerC
Use a Random Forest Class#f#er to bu#ld the f#nal modelC
Evaluate the accuracy of the model on the test datasetD
Note! Your solut#on should #nclude code sn#ppets for each step of the p#pel#ne, and a br#ef explanat#on of
each step. You should also prov#de an #nterpretat#on of the results and suggest poss#ble #mprovements for
the p#pel#neD

In [1]:
import seaborn as sns 
df=sns.load_dataset('tips')
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [2]:
from sklearn.preprocessing import LabelEncoder
one=LabelEncoder()
df['time']=one.fit_transform(df['time'])

In [3]:
df.head(3)

   total_bill   tip     sex smoker  day  time  size
0       16.99  1.01  Female     No  Sun     0     2
1       10.34  1.66    Male     No  Sun     0     3
2       21.01  3.50    Male     No  Sun     0     3

In [4]:
x=df.drop('time',axis=1)
y=df['time']

In [5]:
num_col=[]
cat_col=[]
for i in x.columns:
    if(x[i].dtype=='int' or x[i].dtype=='float'): 
        num_col.append(i)
    else:
        cat_col.append(i)

In [6]:
num_col,cat_col

(['total_bill', 'tip', 'size'], ['sex', 'smoker', 'day'])

In [7]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [8]:
num_pipe=Pipeline(
    steps=[
            ('imputer',SimpleImputer(strategy='median')),
        ('scaleing',StandardScaler())])
cat_pipe=Pipeline(
    steps=[
            ('imputer',SimpleImputer(strategy='most_frequent')),
        ('encoding',OneHotEncoder())])

In [9]:
pre=ColumnTransformer([
    ('num_col_piping',num_pipe,num_col),
    ('cat_col_piping',cat_pipe,cat_col)])

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.20)

In [11]:
X_train_ss=pre.fit_transform(X_train)
X_test_ss=pre.transform(X_test)

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
model={'logistic':LogisticRegression(),
       'DTC':DecisionTreeClassifier(),
       'svc':SVC()
      
      }

In [13]:
def fr(X_train_ss,X_test_ss,y_train,y_test,model):
    report={}
    for i in range(len(model)):
        a=list(model.values())[i]
        a.fit(X_train_ss,y_train)
        y_pred=a.predict(X_test_ss)
        b=accuracy_score(y_pred,y_test)
        report[list(model.keys())[i]]=b
    return report

In [14]:
fr(X_train_ss,X_test_ss,y_train,y_test,model)

{'logistic': 0.8775510204081632,
 'DTC': 0.8979591836734694,
 'svc': 0.8775510204081632}

Q2. Build a pipeline that includes a random forest classifier and a logistic regress#on classifier, and their
use a voting class#f#er to combine the#r predictions. Train the pipeline on the iris dataset and evaluate its
accuracy.

In [15]:
import seaborn as sns
df=sns.load_dataset('iris')

In [16]:
df.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [17]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['species']=le.fit_transform(df['species'])

In [18]:
df['species'].unique()

array([0, 1, 2])

In [19]:
num_col=['sepal_length','sepal_width','petal_length','petal_width']

In [20]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [21]:
num_pipe=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='median')),
        ('scaler',StandardScaler())
        
    ]

)

In [22]:
pre=ColumnTransformer([
    ('numpipeline',num_pipe,num_col)

]

)

In [23]:
x=df.iloc[:,:-1]
y=df['species']

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.20)

In [25]:
X_train_new=pre.fit_transform(X_train)
X_test_new=pre.transform(X_test)

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
model={'logg':LogisticRegression(),
       'gg':GaussianNB(),
      'ran':RandomForestClassifier(),
       'dec':DecisionTreeClassifier(),
       'svc':SVC()}

In [27]:
def friend(X_train_new,X_test_new,y_test,y_train,model):
    re={}
    for i in range(len(model)):
        p=list(model.values())[i]
        p.fit(X_train_new,y_train)
        y_pred=p.predict(X_test_new)
        qw=accuracy_score(y_test,y_pred)
        re[list(model.keys())[i]]=qw
    return re

In [28]:
friend(X_train_new,X_test_new,y_test,y_train,model)

{'logg': 1.0, 'gg': 0.9666666666666667, 'ran': 1.0, 'dec': 1.0, 'svc': 1.0}