Q(1):- what is data encoding and how is and how is it useful in data science?

ANS:- data encoding is the process by which we convert categorical data into numerical data. We do this because then the categorical data is important for the high accuracy and high prediction.

Q(2):-What is nominal encoding and provide an example of how you would use it in a real world scenario?

ANS:-
When we have a feature where variables are just names and there is no order or rank to this variable's feature. For example: City of person lives in, Gender of person, Marital Status, etcâ€¦ In the above example, We do not have any order or rank, or sequence.

Q(3):-In what situations in nominal encoding preferred over one hot encoding and provide a practical example.

ANS:-When we have two or three categorical data in one category column Then we can use this method.

In [19]:
import numpy as np
import pandas as pd
a=pd.DataFrame(['male','female','female','female','male'],columns=['gender'])

In [20]:
a

   gender
0    male
1  female
2  female
3  female
4    male

In [21]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
f=OneHotEncoder()

In [23]:
b=f.fit_transform(a)

In [24]:
q=b.toarray()
q

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.]])

In [27]:
e=pd.DataFrame(q,columns=['female','male'])
e

   female  male
0     0.0   1.0
1     1.0   0.0
2     1.0   0.0
3     1.0   0.0
4     0.0   1.0

In [34]:
pd.concat([a,e],axis=1)

   gender  female  male
0    male     0.0   1.0
1  female     1.0   0.0
2  female     1.0   0.0
3  female     1.0   0.0
4    male     0.0   1.0

Q(4):- Suppose you have a data set containing category data with 5 unit values which including technique would you use to transform this data into a format suitable for machine learning algorithm and explain why you will just choice.

ANS:- if we have data set with five categorical values then we use nominal encoding and provide the number from zero to four for every different category data.

Q(5):- In a machine learning project You have a data set with 1000 rows and five columns Two of the columns are categorical and the remaining three columns are numerical If you were to use nominal including to transfer the category data how many new column would be created Show your calculation.

ANS:-
in this situation we use nominal encoding and and the number of the unique data present in the two categorical columns the new columns will be added.

Q(6):-you are working with a data set containing information about different types of animal including their species habitat and diet which encoding technique you would use to transform the categical data into a format suitable for machine learning algorithm justify your answer.

ANS:-
in that condition we will use ordinal encoding because ordinal encoding is the encoding which is used to encode the when we have large number of categorical columns.

Q(7):-you are working on a project that involved predicting customer charge for a telecommunication company You have a data set with side feature including the customers gender,age ,contract type, monthly charges and salary. which encoding technique would you use to transfer the caregiver data into numerical data provider step by step explanation of how you implement the encoding.

ANS:- in this situation we will use one hot encoding because one hot encoding is used when we have two situations or three situations or we can say that two or three unique data present in the column.it convert the category data into binary format.