Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you 
might choose one over the other.

ANS:-
ordinal Encoding and label encoding is the method for encoding the data which is present in the form of categorical and for example when we have the data like A column we have the data unique data that is that is a small medium large So in that condition we can provide the label the label to these data like 0 for small and one for medium and two for large.

Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in 
a machine learning project.

ANS:- 
In target guided ordinal encoding is the encoding when we have large number of categorical data values in this method we firstly find out the mean of all the group data And then we phil mean value in respect to the data which is already given.

Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

ANS:-
covariance is a measure of the joint variability of two random variables. If the greater values of one variable mainly correspond with the greater values of the other variable, and the same holds for the lesser values, the covariance is positive.
we already have a function in python by which we can find out the way covariance.

Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium, large), and Material (wood, metal, plastic), perform label encoding
using Python's scikit-learn library. Show your code and explain the output.

In [1]:
import pandas as pd
df=pd.DataFrame({'color':['red', 'green',' blue'],'size':['small', 'medium', 'large'],'material':['wood', 'metal', 'plastic']})

In [2]:
df.head()

   color    size material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [14]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
encoded=encoder.fit_transform(df[['color']])
encode_color=pd.DataFrame(list(encoded),columns=['encoded_color'])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
df=pd.concat([df,encode_color],axis=1)

In [16]:
df

   color    size material  encoded_color
0    red   small     wood              2
1  green  medium    metal              1
2   blue   large  plastic              0

In [17]:
encoded1=encoder.fit_transform(df[['size']])
encode_size=pd.DataFrame(list(encoded1),columns=['encoded_size'])

encoded2=encoder.fit_transform(df[['material']])
encode_material=pd.DataFrame(list(encoded2),columns=['encoded_material'])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [18]:
df=pd.concat([df,encode_size,encode_material],axis=1)

In [19]:
df

   color    size material  encoded_color  encoded_size  encoded_material
0    red   small     wood              2             2                 2
1  green  medium    metal              1             1                 0
2   blue   large  plastic              0             0                 1

Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.

In [21]:
import pandas as pd
a=pd.DataFrame({'age':[34,23,45,23,23],'income':[1212,3434,4545,5656,5634],'education':['be','be','bsc','mba','msc']})

In [22]:
a.head()

   age  income education
0   34    1212        be
1   23    3434        be
2   45    4545       bsc
3   23    5656       mba
4   23    5634       msc

In [29]:
a.cov()

/tmp/ipykernel_77/2835787821.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  a.cov()

            age      income
age       96.80    -5463.15
income -5463.15  3439086.20

In [30]:
a.corr()

/tmp/ipykernel_77/2489384948.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  a.corr()

             age    income
age     1.000000 -0.299422
income -0.299422  1.000000

Q6. You are working on a machine learning project with a dataset containing several categorical 
variables, including "Gender" (Male/Female), "Education Level" (High
School/Bachelor's/Master's/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?

ANS:-
For gender we use one and hot encoding beacause this provide output in binary number output.

For education level we can use ordinal encoding because in ordinal encoding we can we can convert it into rank.

for employment status we can use label encoding because label encoding provide the format.

Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/East/West). Calculate the covariance between each pair of variables and interpret the results.

In [34]:
import pandas as pd
q=pd.DataFrame({'Temperature':[34,23,45,23,23],'Humidity':[12,43,45,56,54],
                'Weather Condition':['Sunny','Cloudy','Rainy','Sunny','Rainy']
               ,"Wind Direction":['North','South','East','West','North']})

In [35]:
q

   Temperature  Humidity Weather Condition Wind Direction
0           34        12             Sunny          North
1           23        43            Cloudy          South
2           45        45             Rainy           East
3           23        56             Sunny           West
4           23        54             Rainy          North

In [36]:
q.cov()

/tmp/ipykernel_77/2580691215.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  q.cov()

             Temperature  Humidity
Temperature         96.8     -66.0
Humidity           -66.0     312.5