Q1. Create a python program to sort the given list of tuples based on integer value using a 
lambda function. 
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [36]:
#sol:-
a=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483),
   ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

for i in a:
    print(i)
    b=lambda q:q[1]
    w=b(i)
    break

('Sachin Tendulkar', 34357)

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using 
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
#solu:- USING LAMBDA FUNCTION
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a=lambda x:x**2
k=[]
for i in l:
    k.append(a(i))
k

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
#USING MAP FUNCTION
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def seq(x):
    return x**2
list(map(seq,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and 
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [1]:
#sol:-
a= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def sq(x):
    return str(x)
tuple(map(sq,a))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4.  Write a python program using reduce function to compute the product of a list containing numbers 
from 1 to 25

In [5]:
#sol:-
from functools import reduce
l=[]
for i in range(1,26):
    l.append(i)
reduce(lambda x,y:x*y,l)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the 
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [9]:
#sol:-
l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x:x%2==0 and x%3==0,l))

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter 
function.
['python', 'php', 'aba', 'radar', 'level']

In [18]:
#sol:- usning lambda fun.
a= ['python', 'php', 'aba', 'radar', 'level']
k=[]
for i in a:
    b=lambda c:c[::-1]
    b(i)
    for j in a:
        if(b(i)==j):
            k.append(j)
k

['php', 'aba', 'radar', 'level']

In [14]:
#sol:- usning filter fun.
a= ['python', 'php', 'aba', 'radar', 'level']

def rev():
    for i in a:
        b=i[::-1]
list(filter(lambda x : [::-1] x==x if ,a))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3159101618.py, line 7)