Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’

Add ‘mango to the above list

Also add banana, grapes & orange in the list 

insert apple in the 5th position of a variable ‘a’

Remove last item from the list

In [19]:
a=[2,3,4,5,6,7]
a.append('mango')

In [20]:
a.append('banana')

In [21]:
a.append('grapes')
a.append('orange')
a.insert(4,'apple')
a.pop()
a

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

Q2.

L = [1,2,3,4,5,6,7]

Using the above list slice from 1:4

In [22]:
L = [1,2,3,4,5,6,7]
L[1:4]

[2, 3, 4]

Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function

In [23]:
l = [4,5,6,8,3]

In [24]:
l=l[::-1]

In [25]:
l

[3, 8, 6, 5, 4]

In [26]:
l.reverse()

In [27]:
l

[4, 5, 6, 8, 3]

Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8].

In [50]:
l=[2,4,7,3,6,8]
l=[i*i for i in l]
l

[4, 16, 49, 9, 36, 64]

In [51]:
l=list(map(lambda x:x**0.5,l))

In [52]:
l

[2.0, 4.0, 7.0, 3.0, 6.0, 8.0]

Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the 
function with a tuple of your choice.

In [55]:
def add(a):
    s=0
    for i in a:
        s=s+i
    return s
add((1,2,3))

6

Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set. 
Print the resulting set to the console.

In [56]:
fruits1 = {"apple", "banana", "pear"}
fruits2 = {"orange", "grape", "kiwi"}
fruits1.union(fruits2)

{'apple', 'banana', 'grape', 'kiwi', 'orange', 'pear'}

Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the 
resulting set to the console

In [57]:
words = {"hello", "world", "python"}

In [58]:
words.add('programs')

In [61]:
words

{'hello', 'programs', 'python', 'world'}

Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the 
set. Print the resulting set to the console

In [60]:
animals = {"dog", "cat", "hamster", "parrot"}
animals.remove('cat')
animals

{'dog', 'hamster', 'parrot'}

Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}

      favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

      Use the zip() function to combine the book set and movie list into a list of tuples  representing book/ 

 movie pairs. Print the resulting list

In [64]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
resulting_list=list(zip(favorite_books,favorite_movies))
print(resulting_list)

[('To Kill a Mockingbird', 'The Shawshank Redemption'), ('Pride and Prejudice', 'The Godfather'), ('1984', 'The Dark Knight')]

Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [69]:
a=[1,2,3,4,9]
for i in range(1,len(a)):
    q=a[i]-a[i-1]
    print(q)

1
1
1
5